@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');/*nav*/
@import url('https://fonts.googleapis.com/css?family=Alegreya'); /*Standard Text*/
@import url('https://fonts.googleapis.com/css?family=Oswald'); /*Titles*/
@import "https://fonts.googleapis.com/css?family=Raleway"; /*Forum */
/*
	Color Scheme: https://www.colorcombos.com/color-schemes/141/ColorCombo141.html
	
	Main Blue Drk: #618AFE
	Main Blue Lght: #00C5FF 
	
	Dark Gray: #565656
	Mid Gray: #989898
	Light Gray: #DBDBCE
	
	Pastel White: #E1E1D6
	
*/

/*_____Incase of spacing issues, break this comment_
													\
	.row{											\
		width: 100% !important;						\
	}				
  margin-right: -15px;
  margin-left: -15px;	\
	_________________________________________________*/
	
	
/* Basics */

.testClass{ /* give to wrapper elements to see what space they take up */
	background-color: #FFFFFF;
}
body{
	background-color:#00C5FF;
	overflow-x: hidden;
}
.fixflow{
	overflow-x: hidden;
}


/* Images */

img{
	max-width: 100%;
}

.icon-sm{
	margin-top:50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width:50%;
}


.icon-md{
	margin-top:50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width:70%;
	max-height:10%;
}

/* Padding */

.padded-low{
	padding: 25px;
}
.padded-lower{
	padding: 15px;
}
.padded{
	padding: 50px;
}
.padded-wide{
	padding: 50px 0 50px 0 ;
}
.padded-slim{
	padding: 0 50px 0 50px ;
}
.padded-left{
	padding-left: 20%;
}
.padded-up{
	padding: 10px 0 0 0; 
}
.padded-down{
	padding: 0 0 10px 0; 
}

/* margins */

.margins-center{
	display: block;
	margin:	0 auto;
}

/* Mobile Padding */

@media only screen and (max-width: 761px){

		.PaddedOnMobiles {  /* Use to create spacing when needed after elements are set to 100% */
			padding: 15px !important;
		}
		.UnPaddedOnMobiles{
			padding: 0 !important;
		}
		
		.smaller{
			font-size: 8vw;
		}
		
}

/* text adjustments */

.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

/* text color */

.text-white{
	color:#FFFFFF;
}


/* Backgrounds */

.bgWhite{
	background-color:#EEEEEE;
}
.bgLightGray{
	background-color:#DBDBCE;
}
.bgMidGray{
	background-color:#989898;
}
.bgDarkGray{
	background-color:#565656;
}
.bgBlue{
	background-color:#618AFE;
}
.bgLightBlue{
	background-color:#00C5FF;
}

.hoverBlue, .hoverWhite{
	transition: 1s all;
}
.hoverBlue:hover{
	background-color:#618AFE;
}
.hoverWhite:hover{
	background-color:#FFFFFF;
}

.right-side-line{
	border-right: 1px solid #ccc;
}

/* Navigation bar */

#TopLeftLogo{width: 100px;}

.navbar{
	background:#618AFE;
	opacity: 0.8;
	transition: 1s all;
}
.navbar:hover{
	opacity: 1;
}
.nav-link , .navbar-brand{ 
	color: #f4f4f4; cursor: pointer;
}
.nav-link{
	margin-right: 1em;
	border-radius:50px;
	transition: 1s all;
	font-size: 1.5em !important;
}
.nav-link:hover{
	background: #E1E1D6;
	color: #00C5FF;
}
.navbar-collapse{
	justify-content: flex-end;
}

/* Header */

#HeaderBG{
	width: 100%;
	padding: 90px 0 0 0;
}

.header{
	background-color: #618AFE;
	width: 100%;
}

/* About */

.insideAboutDiv{
	width:100%;
	box-shadow: 0 0 1px 1px #FFFFFF;
	transition: 1s all;
	text-align: center;
	color: white;
}
#AboutText h1{
	color: #565656;
	
}
#AboutText span{
	letter-spacing: 4px;
	font-size: 150%;
	color: #618AFE;
}
#AboutText p{
	text-align: justify;
	width: 100%;
}

.insideAboutDiv:hover {
    box-shadow: 0 0 2px 1px #618AFE;
}

.SendEmail{
	color: blue;
	cursor:pointer;
}

.showMobile{
	text-align: center;

}

@media only screen and (max-width: 763px){

	.hideMobile{
		visibility: hidden;
	}
	.SendEmail{
		left: -45px;
	}
}

/* Footer */

.force-icon{
	padding-top: 15px;
	max-width: 15%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.footer-col{
	text-align: center;
	transition: 1s all;
}
.footer-col:hover{
  background-color: #66afe9;
}
.footer{
	text-align:center;
}

/* Buttons */

.CustomButton1{
	background-color: #618AFE;
	transition: 1s all ease;
}

.CustomButton1:hover{
	background-color: #FFFFFF;
	transform: scale(1.5);
	box-shadow: 0px 1px 0px 0px;
}

.CustomButton2{
	background-color: #618AFE;
	transition: 1s all ease;
	padding: 10px 20px;
	margin-bottom: 30px;
}

.CustomButton2:hover{
	background-color: #FFFFFF;
	transform: scale(1.1);
	box-shadow: 0px 1px 0px 0px;
}

@media only screen and (max-width: 763px){
	.CustomButton1{
		max-width: 80%;
	}
}