@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');/*nav*/
@import url('https://fonts.googleapis.com/css?family=Alegreya'); /*Standard Text*/
@import url('https://fonts.googleapis.com/css?family=Oswald'); /*Titles*/
@import "https://fonts.googleapis.com/css?family=Raleway"; /*Forum */
/*
	Color Scheme: https://www.colorcombos.com/color-schemes/141/ColorCombo141.html
	
	Main Blue: #618AFE
	Main Orng: #F6A65F 
	
	Dark Gray: #565656
	Mid Gray: #989898
	Light Gray: #DBDBCE
	
	Pastel White: #E1E1D6
	
*/

/*_____Incase of spacing issues, break this comment_
													\
	.row{											\
		width: 100% !important;						\
	}				
  margin-right: -15px;
  margin-left: -15px;	\
	_________________________________________________*/
	
	
/* Basics */

.testClass{ /* give to wrapper elements to see what space they take up     */
	background-color: #FFFFFF;
}
body{
	background-color:#F6A65F;
	overflow-x: hidden;
}
.fixflow{
	overflow-x: hidden;
}

img{
	max-width: 100%;
}

/* Padding */

.padded-low{
	padding: 25px;
}
.padded-lower{
	padding: 15px;
}
.padded{
	padding: 50px;
}
.padded-wide{
	padding: 50px 0 50px 0 ;
}
.padded-slim{
	padding: 0 50px 0 50px ;
}
.padded-left{
	padding-left: 20%;
}
.padded-up{
	padding: 10px 0 0 0; 
}
.padded-down{
	padding: 0 0 10px 0; 
}
/* margins */
.margins-center{
	display: block;
	margin:	0 auto;
}

/* Mobile Padding */

@media only screen and (max-width: 761px){

		.PaddedOnMobiles {  /* Use to create spacing when needed after elements are set to 100% */
			padding: 15px !important;
		}
		.UnPaddedOnMobiles{
			padding: 0 !important;
		}
		
		.smaller{
			font-size: 8vw;
		}
		
}

/* text adjustments */

.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

/* Backgrounds */

.bgWhite{
	background-color:#EEEEEE;
}
.bgLightGray{
	background-color:#DBDBCE;
}
.bgMidGray{
	background-color:#989898;
}
.bgDarkGray{
	background-color:#565656;
}
.bgBlue{
	background-color:#618AFE;
}

.hoverBlue, .hoverWhite{
	transition: 1s all;
}
.hoverBlue:hover{
	background-color:#618AFE;
}
.hoverWhite:hover{
	background-color:#FFFFFF;
}

.right-side-line{
	border-right: 1px solid #ccc;
}
/* Navigation bar */

#TopLeftLogo{width: 100px;}

.navbar{
	background:#618AFE;
	opacity: 0.8;
	transition: 1s all;
}
.navbar:hover{
	opacity: 1;
}
.nav-link , .navbar-brand{ 
	color: #f4f4f4; cursor: pointer;
}
.nav-link{
	margin-right: 1em;
	border-radius:50px;
	transition: 1s all;
	font-size: 1.5em !important;
}
.nav-link:hover{
	background: #E1E1D6;
	color: #F6A65F;
}
.navbar-collapse{
	justify-content: flex-end;
}

/* Header */

#HeaderBG{
	width: 100%;
	padding: 90px 0 0 0;
}

.header{
	background-color: #618AFE;
	width: 100%;
}

/* About */

.insideAboutDiv{
	width:100%;
	box-shadow: 0 0 1px 1px #FFFFFF;
	transition: 1s all;
	text-align: center;
	color: white;
}
#AboutText h1{
	color: #565656;
	
}
#AboutText span{
	letter-spacing: 4px;
	font-size: 150%;
	color: #618AFE;
}
#AboutText p{
	text-align: justify;
	width: 100%;
}

.insideAboutDiv:hover {
    box-shadow: 0 0 2px 1px #618AFE;
}

.CustomButton1{
	background-color: #618AFE;
	transition: 1s all ease;
}

.CustomButton1:hover{
	background-color: #FFFFFF;
	transform: scale(1.5);
	box-shadow: 0px 1px 0px 0px;
}

.SendEmail{
	color: blue;
	cursor:pointer;
}

.showMobile{
	text-align: center;

}

@media only screen and (max-width: 763px){
	.CustomButton1{
		max-width: 80%;
	}
	.hideMobile{
		visibility: hidden;
	}
	.SendEmail{
		left: -45px;
	}
}

/* Education */

.education-col{
	text-align: center;
}
.education-col-interior{
	padding: 10%;
}

.EduDropDown, .EduDropDown2{
	cursor:pointer;
}

.Educationslider, .Educationslider2{
	width: 100%;
	display: none;
}
.Educationslider img, .Educationslider2 img{
	margin: 0 auto;
	display: block;
}

.dropdown-icon{
	max-width: 14%;
	position:absolute;
	bottom: 10px;
	left:43%;
	right:43%;
}


/* Slideshow */
	 /*jssor slider loading skin spin css*/
	.jssorl-009-spin img {
		animation-name: jssorl-009-spin;
		animation-duration: 1.6s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes jssorl-009-spin {
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}

	/*jssor slider bullet skin 051 css*/
	.jssorb051 .i {position:absolute;cursor:pointer;}
	.jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
	.jssorb051 .i:hover .b {fill-opacity:.7;}
	.jssorb051 .iav .b {fill-opacity: 1;}
	.jssorb051 .i.idn {opacity:.3;}

	/*jssor slider arrow skin 051 css*/
	.jssora051 {display:block;position:absolute;cursor:pointer;}
	.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
	.jssora051:hover {opacity:.8;}
	.jssora051.jssora051dn {opacity:.5;}
	.jssora051.jssora051ds {opacity:.3;pointer-events:none;}
	
	#jssor_1{
		position:relative;
		margin:0 auto;
		top:0px;left:-14px;
		width:980px;
		height:380px;
		overflow:hidden;
		
	}	
	.jssorl-009-spin{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		text-align:center;
		background-color:rgba(0,0,0,0.7);
	}
	.jsslies{
	cursor:default;
	position:relative;
	top:0px;
	left:-10px;
	padding: 0;
	width:980px;
	height:380px;
	overflow:hidden;
	}
	.jssorb051{
	position:absolute;
	bottom:12px;
	right:12px;
	}
	.jssora051{
	width:55px;
	height:55px;
	top:0px;
	}
	
/* Skills */

.force-small{
	max-width: 300px;
}
.inner-text-skills{
	position: absolute;
    bottom: 20px;
	left:25%;
	right:25%;
	font-family: Oswald;
}

/* Footer */
.force-icon{
	padding-top: 15px;
	max-width: 15%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.footer-col{
	text-align: center;
	transition: 1s all;
}
.footer-col:hover{
  background-color: #66afe9;
}
.footer{
	text-align:center;
}

/* Comments Section */

.name{
	height: 20%;
	padding: 50px 0;
}
.forum{
	width: 30%;
	margin-left: auto; margin-right: auto;
}
.commentSection{
	width: 30%;
	margin-left: auto; margin-right: auto;
	background-color: #DBDBCE;

}
@media only screen and (max-width: 763px){
	.forum , .commentSection, #CommentIn{
		width: 90%;
	
	}



}

.CustomButton2{
	background-color: #618AFE;
	transition: 1s all ease;
	padding: 10px 20px;
}

.CustomButton2:hover{
	background-color: #FFFFFF;
	transform: scale(1.5);
	box-shadow: 0px 1px 0px 0px;
}

.comment1{
	background-color:#DBDBCE;
}

.comment2{
	background-color:#989898;
}
.commenterName{
	color: blue;
}

/* Contact Form */
.container 
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #618AFE;    
}
.container-box
{
	display:inline-block; 
	padding:120px; 
    background-color: #618AFE;    
	border: 1px solid #FFF;	
}
